# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=k
BOT_TOKEN=NzgzNzcyMjMwMTU2OTQzNDMw.X8fmxQ.hgkm-AwxrIwoEa_WRGtMgFHbjJE
YTAPI_KEY=
PROJECT_DOMAIN=
